@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


/* 2. Definir las variables globales del sistema de diseño */
:root {
  --color-primary: #003366;
  --color-background: #F8F9FA;
  --color-accent: #FF7F50;
  --color-text-primary: #343A40;
  --color-text-secondary: #6C757D;
  --color-border-soft: #CED4DA;
  --color-white: #FFFFFF;

  --font-heading: 'Poppins', sans-serif;
  --font-sans: 'Source Sans Pro', sans-serif;

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* 3. Estilos base del body */
body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset básico */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}